.Results {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  grid-gap: 3rem;
  grid-auto-rows: 15rem;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  justify-content: center;
}