.Home {
  grid-row-start: 3;
  grid-column-start: 2;
  color: #ffbd39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home img {
  margin: 1rem;
  width: 50%;
  height: auto;
}
