.FavoritedBtn{
  grid-column: 1/1;
  grid-row:2/2;
  color: #FFBD39;
  justify-self: right;
  border: none;
  background: transparent;
  font-family: "SubZER0";
  font-size: 1.5rem;
  z-index: 1;
  width: 10rem;
}

.FavoritedBtn a {
  color: #FFBD39;
}

.FavoritedBtn .selected {
  color: #E61C5D;
}
