.Error {
  grid-row-start: 3;
  grid-column-start: 2;
  color: #FFBD39;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 20%;
  height: auto;
}

p {
    display: block;
    font-size: 3rem;
}
