.Modal {
  background-color: rgba(251, 248, 254, 0.45);
  position: absolute;
  z-index: 1;
  width: 224px;
  height: 240px;
  border: 0.5rem solid transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease
}

.FavBtn {
  background-color: transparent;
  border: none;
  background-image: url("https://image.noelshack.com/fichiers/2018/09/2/1519761895-coeur.png");
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-size: 100%;
  z-index: 2;
  transition: transform 0.1s ease-in-out;
}

.FavBtn:hover {
  transform: scale(2, 2);
}

.FavBtn a {
  color: #930077;
  font-size: 1.5rem;
}