.NoMatch {
  grid-row-start: 3;
  grid-column-start: 2;
  color: #ffbd39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoMatch img {
  width: 20rem;
  height: 20rem;
  height: auto;
}

.NoMatch p {
  display: block;
  font-size: 3rem;
}
